<a-entity
  id="startButton"
  bind__visible-raycastable="introActive"
  geometry="primitive: plane; width: 1; height: 0.35"
  position="0 1.6 -2.2"
  render-order="menu"
  proxy-event="event: click; to: a-scene; as: startgame"
  play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
  play-sound__click="event: click; sound: #confirmSound;  volume: 0.25"
  material="shader: flat; color: #050403; opacity: 0.96; transparent: true"
  animation="property: components.material.material.opacity; from: 0; to: 0.96; dur: 500; delay: 900">
  <a-image
    id="startButtonLabel"
    src="#startCalligraphyImg"
    width="0.58"
    height="0.28"
    position="0 0 0.01"
    material="shader: flat; transparent: true; opacity: 0"
    animation="property: components.material.material.opacity; from: 0; to: 1; dur: 500; delay: 1100"
    ></a-image>
</a-entity>
